#map {
    height: 900px;
    width: 100vw;
}

header {
    height: 100px;

    background: linear-gradient(to right, rgba(232, 242, 255, 0.902), rgba(78, 97, 195, 0.84), rgb(70, 94, 211));
}

h1 {
    height: max-content;
}

main {
    position: relative;
}

#chart {
    background-color: rgba(238, 237, 255, 0.936);

    position: absolute;

    min-width: 400px;

    top: 0;
    right: 0;

    z-index: 651;

    transform: translate(-1em, 1em);
}

#global-toggle ul {
    height: 110%;

    border-bottom: 1px solid lightgrey;
}

#global-toggle ul li {
    height: 100%;
}

#global-toggle ul li a {
    height: 100%;
}

#toggle-bar {
    height: 50%;
}

#chart-togg {
    background: transparent;
    border-style: none;
    border: none;
}

#visBtn {
    background: transparent;
    border-style: none;
    border: none;
}

#chart-togg:hover #visBtn {
    background: transparent;
    border-style: none;
    border: none;
}