html {
    box-sizing: border-box;
}

#map {
    height: 900px;
    width: 100vw;
}

header {
    height: 100px;

    background: linear-gradient(to right, rgb(175, 200, 231), rgba(78, 97, 195, 0.84), rgb(70, 94, 211));
}

h1 {
    height: max-content;
}

main {
    position: relative;
}

#chart {
    position: absolute;

    top: 0;
    right: 0;

    z-index: 651;

    transform: translate(-1em, 1em);
}

/* I need all of these statements below to make the global toggle button the same height as the other tabs. sooo annoying */
#global-toggle ul {
    height: 100%;
}

#global-toggle ul li {
    height: 100%;
}

#global-toggle ul li a {
    height: 100%;
}